body {
  margin: 0;
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;

  color: hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 12%);
}

.sidebar {
    width: 25%;
    min-width: 200px;
    max-width: 300px;
    padding: 30px 20px;
    
    box-sizing: border-box;
    text-align: center;
    
    background-color: hsl(0, 0%, 12%);
    border-right: 1px solid hsl(170, 70%, 65%);
    
    transition: all 0.25s;
}

.sidebar h1 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
}

.sidebar p {
    margin-bottom: 30px;
    font-size: 14px;
    
    color: hsl(0, 0%, 60%);
}

.sidebar button {
    margin-bottom: 15px;
    padding: 12px 16px;
    width: 100%;
    display: block;
    
    cursor: pointer;
    border: none;
    border-radius: 4px;
    
    font-size: 14px;
    color: hsl(0, 0%, 80%);
    border: 1px solid hsl(0, 0%, 25%);
    background-color: hsl(0, 0%, 12%);
    
    transition: background-color 0.2s;
}

.sidebar button:hover {
    background-color: hsl(0, 0%, 13.5%);
}

.button-row {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.button-row button {
    flex: 1;
    width: auto;
}

.editor-container {
    flex: 1;
    flex-direction: column;
    display: flex;
    padding: 20px;
    
    box-sizing: border-box;
}

textarea {
    flex: 1;
    width: 100%;
    outline: none;
    padding: 12px;
    font-size: 14px;
    font-family: monospace;
    line-height: 1.5;
    resize: none;
    white-space: pre;
    box-sizing: border-box;
    
    scrollbar-width: thin;
    scrollbar-color: #555 #2a2a2a;
    border-radius: 4px;
    color: inherit;
    border: 1px solid hsl(0, 0%, 25%);
    background-color: hsl(0, 0%, 12%);

    transition: all 0.25s ease-in-out;
}

textarea::-webkit-scrollbar {
    width: 12px;
}

textarea::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 3px solid #2a2a2a;
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

textarea:focus {
    border-color: hsl(174, 42%, 65%);
}

#status {
    margin-top: 10px;
    font-size: 14px;
    color: #80cbc4;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        max-width: none;
        border-right: none;
        border-bottom: 1px solid #333;
    }

    .editor-container {
        padding: 10px;
    }
}